---
layout: ""
page_title: "Provider: Funnel"
description: |-
  The Funnel provider provides configuration management resources for Funnel.
---

# Funnel Provider

The changelog for this provider can be found here: <https://github.com/funnel-io/terraform-provider-funnel/releases>.

## Example Usage

For Terraform v0.13 and later:

```hcl
terraform {
  required_providers {
    funnel = {
      source = "funnel-io/funnel"
      version = "0.1.2"
    }
  }
}

provider "funnel" {
  environment     = "us"
  subscription_id = "your_subscription_id_here"
  client_id       = var.client_id
  client_secret   = var.client_secret
}
```

## Authentication

Get the integration credentials `client_id` and `client_secret` from Funnel for your subscription.
In Funnel go to "Subscription overview" in the right top corner, select "Authentication" and create a new integration credential at the bottom of the page.

## Subscriptions, workspaces and resource IDs

The Funnel provider requires a `subscription_id` to be set in the provider configuration. Yours can be found in the URL if you go into the Subscription overview in the Funnel app.
The URL will look something like this: `https://app.funnel.io/#/subscription/SUBSCRIPTION_ID/overview`.

Funnel workspaces can be managed with the `funnel_workspace` resource.
If you already have a workspace, you can get the ID from the URL and import it. The URL will look something like this: `https://app.funnel.io/#/account/WORKSPACE_ID/home`.

Get resource IDs from the Funnel app as well. Above the table listing of resources there is a "Choose column" button where you can add the column "ID" that contains the resource IDs.
You could also go into the resource you want to manage with Terraform and get the ID from the URL. The URL will look something like this: `https://app.funnel.io/#/account/WORKSPACE_ID/RESOURCE_TYPE/RESOURCE_ID`.

## Exports

Exports are created with the `funnel_<type>_export` resource. The available types are `bigquery`, `snowflake` and `gcs`. All the fields outside of the `destination` block are shared with the other export types.

## Fields

The data source `funnel_export_field` can be used to get the fields for an export. Lists of fields are then used in the `fields` block of the export resources.

The "export_name" will be "Date" as fallback because that's the name of the field in Funnel:
```hcl
data "funnel_export_field" "date_field" {
  workspace   = local.workspace_id
  id          = local.field_date_id
}
```

Setting a new "export_name" for the field to use as the column name in the export:
```hcl
data "funnel_export_field" "adtriba_brand_field" {
  workspace   = local.workspace_id
  id          = local.field_adtriba_brand_id
  export_name = "TF_ADTRIBA_BRAND"
}
```

Setting both a new "export_name" and "export_type" for the field to use as the column name and type in the export:
```hcl
data "funnel_export_field" "clicks_field" {
  workspace   = local.workspace_id
  id          = local.field_clicks_id
  export_name = "TF_CLICKS"
  export_type = "BIGINT"
}
```

# Filters

Filters are used to filter the data that is exported. They are used in the `filters` block of the export resources.
Example of an AND filter of two filters on two fields:

```hcl
filters = [
    {
      field_id = local.field_adtriba_brand_id
      or = [
        {
          operation = "contains"
          value     = "company_a"
        },
        {
          operation = "notcontains"
          value     = "company_b"
      }]
    },
    {
      field_id  = local.field_date_id
      operation = "gt"
      value     = "2025"
    }
  ]
```

## Potential errors

### Conflicting resources

If you receive a `409 Conflict` error when creating resources it's because the target export conflicts with another one.
The error message will contain information about which resource is conflicting. For a BigQuery export an error would be caused by two exports targeting the same dataset and table.

## Flexpoints needed

If you receive a `402 Payment Required` error when creating resources it's because your subscription does not have enough Flexpoints to create the resource.
Go into the Funnel app and into the Flexpoints Usage in the Subscription overview to see how many Flexpoints you have and what resources consume Flexpoints.

## Outdated Funnel Terraform Provider version

If you receive an error like the one below when running `terraform plan` or `terraform apply`, please upgrade your Funnel Terraform Provider to the latest version.
`Unable to read workspaces: terraform-provider-funnel version is too old. Minimum required: 0.1.0`

## 429 Too Many Requests error

If you receive a `429 Too Many Requests` error when making API calls, it means that you have exceeded the rate limit for the Funnel API. 
If it happens frequently, consider contacing Funnel support to discuss your use case.

##### Import command

The ID format for importing Funnel resources is `<workspace_id>/<resource_id>`.

Run the following command to import exports into your Terraform state:

```bash
terraform import funnel_<type>_export.<name> <workspace_id>/<export_id>
```

{{ .SchemaMarkdown | trimspace }}
